# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.DiyDi.iml
# Datasource local storage ignored files
/../../../../../../../:\Repos\diydi\DiyDi\.idea\.idea.DiyDi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
